.content{
    background-image: url(assets/pexels-photo-3969514.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 25%;
    background-position-y: -100px;
}
.ch{
    color: white;
    font-family: sans-serif;
    font-weight: 800;
    font-size: 30px;
}
.p{
    color: white;
    justify-content: center;
    font-size: 14px;
    font-family: sans-serif;
}
.content1{
    background-color: white;
    padding-top: 10%;
    padding-bottom: 10%;
}
.one{
    color: black;
    font-weight: 800;
}
.content2{
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}
.content2h{
    color: white;
    font-weight: 600;
}
.content2p{
    color: white;
}
.h5{
    color:white ;
}
.content4{
    background-color: #fff;
    padding-top: 5%;
    padding-bottom: 5%;
}
.full{
    color: black;
    font-weight: 700;
}
.gh{
    color: #fff;
    font-weight: 700;
}
.yui{
    color: black;
    font-weight: 700;
}
.content5{
    background-color: black;
    padding-top: 5%;
    padding-bottom: 5%;
}
.PATER{
    color: #fff;
    background-color: black;
    border-radius: 5px;
    /* border-style: none; */
}
.tre{
    margin-top: 5%;
    color: #fff;
    font-weight: 700;
}
.gf{
    color: #fff;
}
.content6{
    background-color: white;
}